<!DOCTYPE html>

<html>
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic%26subset=latin,latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="{% static 'contentpage/style.css' %}">
	<script src="{% static 'contentpage/adminbutton.js' %}"></script>   
    <title> A prototype lecture page with content management tools </title>
    <script>
    	var ContextArray = [];
    </script>
  </head>
  <body>
    <div id="container">
	  <header class="top-header">
	    <div id="container-top">
          <div class="page-title">
            <h1>Lovelace</h1>
          </div>
		  <button class="admintogglebutton" onclick="AdminToggle()"> <!-- The cog in top right to change to admin mode -->
		  </button>
		</div>
      </header>
	  <section class="content">
            <script type="text/javascript"> 
                var ContentForJS = [];
                console.log(ContentForJS)
            </script>	
            {% load cache %}
      		{% cache 500 content %}
	        {% for ContentObject in List %} <!-- This for loop loops through the list from views.py file, and shows the content on the page in order of index -->
				<div class="slotforcontent" id="adminOnly" style="display: none;"> <!-- slotforcontent is the darker blank area with + sign on the left -->
                        <button class="addbutton" onclick="EditToggle({{ forloop.counter0 }})"> 
		                </button>	
				</div>
                <div class="pieceofcontent" id="pieceofcontent{{forloop.counter0}}"> <!-- pieceofcontent contains the content, and the deletion button for the content which is only rendered if admin mode is on-->
                	{%if ContentObject.embeddedexercisemodel.ContentExerciseType %}
                	<script>
                		var embedded = document.getElementById("pieceofcontent{{forloop.counter0}}");
                		embedded.style.background = "#caeaca";
                	</script>
                	{% endif %}
				    <div class="pieceofcontent-admin" id="adminOnly" style="display: none;">
				    	<div class="editingbuttons">
					    <button class="deletebutton" onclick="DeleteContent({{ forloop.counter0 }})"> 
		                </button>	
					    <form action="" method="post" id="DeletionForm">
							{% csrf_token %}
				            <div class="deleteinputform" style="display:none;">
                            {{ deleteform.IndexToBeDeleted }}
					        </div>		
                            <input type="submit" value="Submit" style="display:none;">	
                        </form>			
                        <script type="text/javascript"> 
                            ContentForJS.push(["{{ ContentObject.ContentType|striptags|escapejs }}",
                            	"{{ ContentObject.textcontentmodel.ContentTextNotParsed|striptags|escapejs }}", 
                            	"{{ ContentObject.textcontentmodel.ContentHeader|striptags|escapejs }}",
                            	"{{ ContentObject.imagecontentmodel.ContentImageTitle|striptags|escapejs }}",
								"{{ ContentObject.imagecontentmodel.ContentImageCaption|striptags|escapejs }}",                            	
								"{{ ContentObject.imagecontentmodel.ContentImageFile|striptags|escapejs }}",
                            	]);
                            console.log(ContentForJS)
                        </script>	
                        {% if ContentObject.textcontentmodel.ContentText %}
						<button class="editcontentbutton" onclick="EditContent({{ forloop.counter0}}, ContentForJS)"> 
	                    </button>
	                    {% endif %}
	               		</div>
					</div>
						{% if not ContentObject.embeddedexercisemodel.ContentExerciseType %}
						<div class="pieceofcontent-everyone"> <!-- This part renders the piece of content from the list that is currently contained in ContentObject of the for loop. The way the content is rendered is handled with if statements, for example if its image content then in the  current implementation the ContentText field of ContentObject will be "NoText" which means the if statement will be false, thus for image content no text is rendered-->
						{%if ContentObject.textcontentmodel.ContentHeader %}
							<h1>
							{{ContentObject.textcontentmodel.ContentHeader}}
							</h1>
						{% endif %}
						{%if ContentObject.textcontentmodel.ContentText %}
							<div>
							{% autoescape off %}{{ContentObject.textcontentmodel.ContentText}}{% endautoescape %} 
							</div>
						{% endif %}
						{%if ContentObject.imagecontentmodel.ContentImageTitle %}
							<h1>
							{{ContentObject.imagecontentmodel.ContentImageTitle}}
							</h1>
						{% endif %}
						{%if ContentObject.imagecontentmodel.ContentImageFile %}
							<figure>
							<img src="{{ContentObject.imagecontentmodel.ContentImageFile.url}}" alt="ImageMissing">
							<figcaption>{{ContentObject.imagecontentmodel.ContentImageCaption}}</figcaption>
							</figure>
						{% endif %}				
						{%if ContentObject.filecontentmodel.ContentFileTitle %}
							<h1>
							{{ContentObject.filecontentmodel.ContentFileTitle}}
							</h1>
						{% endif %}	
						{%if ContentObject.filecontentmodel.ContentFile %}
							<iframe src="{{ContentObject.filecontentmodel.ContentFile}}" width="100%" height="300" style="border:none;display: flex;align-items: center;">
							</iframe>
						{% endif %}	
						</div>
						{% endif %}
						{%if ContentObject.embeddedexercisemodel.ContentExerciseType %}
						<div class="pieceofcontent-everyone-embedded">
							<iframe src="{{ContentObject.Index}}" width="100%" height="100%" id ="embeddediframe{{forloop.counter0}}" style="border:none;display: flex;align-items: center;" onload="function(){
        					iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
    						}">
							</iframe>
						</div>
						<script>
    						var iframe{{forloop.counter0}} = document.getElementById("embeddediframe{{forloop.counter0}}");
    						console.log(iframe{{forloop.counter0}})
    						iframe{{forloop.counter0}}.onload = function(){
        					iframe{{forloop.counter0}}.style.height = iframe{{forloop.counter0}}.contentWindow.document.body.scrollHeight + 'px';
    						}
    					</script>
						{% endif %}	
					{%if ContentObject.embeddedexercisemodel.ContentExerciseType %}
					{% endif %}
			    </div>
            {% endfor %}
		    <div class="slotforcontent" id="adminOnly" style="display: none;"> <!-- The final slot for content after the for loop -->
                <button class="addbutton" onclick="EditToggle({{ indexnumber }})"> 
		        </button>	
		    </div>			
		    {% endcache %}
	        <section class="formforcontent" id="formforcontent" style="display: none;" title="0" > <!-- the pop-up that opens when you press the plus sign-->
	              <h1 class="formforcontentheader"> Add content to your selected position.</h1>
				  <div>
                  <button class="texteditbutton" onclick="FormForContentToggle(textform)" > <!-- The selection buttons T/I, for image or text, new selection button for embedded content should be added -->
		          </button>	
				  <button class="imageeditbutton" onclick="FormForContentToggle(imageform)" >
		          </button>	
		          <!--
		          <button class="fileeditbutton" onclick="FormForContentToggle(fileform)" >
		          </button>	
		     	  -->
		          <button class="fileeditbutton" onclick="FormForContentToggle(exampleexerciseform)" >
		          </button>	
			      </div>
				  <form action="" method="post" id="textform" style="display: none;"> <!-- textform, visible only if image mode is not selected -->
				      {% csrf_token %}
				      {% load cache %}
      				  	{% cache 500 textformcache %}
				      <div class="headerinput">
					  <label for="header_input" class="headerinputlabel"> Header: (optional) </label>
                      {{ textform.header_input }}
					  </div>
				      <div class="textinput">
					  <label for="text_input" class="textinputlabel"> Text: </label>
                      {{ textform.text_input }}
					  </div>
				      <div class="indexinput">
					  <label for="index_input" class="indexinputlabel"> Index of content: </label>
                      {{ textform.index_input }}
					  </div>
				      <div class="editmodeinput" style="display: none;">
                      {{ textform.EditMode }}
					  </div>		
					  {% endcache %}
                      <input type="submit" value="Submit">
                   </form>
				  <form action="" method="POST" enctype="multipart/form-data" id="imageform" style="display: none;"> <!-- imageform, visible only if text is not selected -->
				      {% csrf_token %}
				      {% load cache %}
      				  	{% cache 500 imageformcache %}
				      <div class="imagetitleinput">
					  <label for="imagetitle" class="imagetitlelabel"> Image title: (optional) </label>
                      {{ imagefileform.imagetitle }}
					  </div>
				      <div class="imagecaptioninput">
					  <label for="imagecaption" class="imagecaptionlabel"> Image caption: (optional) </label>
                      {{ imagefileform.imagecaption }}
					  </div>
				      <div class="imagefileinput">
					  <label for="imagefile" class="imagefilelabel"> Image file: </label>
                      {{ imagefileform.imagefile }}
					  </div>
				      <div class="indexinput">
					  <label for="image_index" class="indexinputlabel"> Index of content: </label>
                      {{ imagefileform.image_index }}
					  </div>
				      <div class="editmodeimageinput" style="display: none;">
                      {{ imagefileform.EditModeImage }}
					  </div>	
					  {% endcache %}	
					  <input type="submit" value="Submit">
                  </form>
				  <form action="" method="POST" enctype="multipart/form-data" id="fileform" style="display: none;"> <!-- imageform, visible only if text is not selected -->
				      {% csrf_token %}
				      {% load cache %}
      				  	{% cache 500 fileformcache %}
				      <div class="filetitleinput">
					  <label for="filetitletitle" class="filetitlelabel"> File title: (optional) </label>
                      {{ fileform.filetitle }}
					  </div>
				      <div class="fileinput" id="fileinput">
					  <label for="file" class="filelabel"> File: </label>
                      {{ fileform.file }}
					  </div>
				      <div class="indexinput">
					  <label for="file_index" class="indexinputlabel" > Index of content: </label>
                      {{ fileform.file_index }}
					  </div>
				      <div class="editmodefileinput" style="display: none;">
                      {{ fileform.EditModeFile }}
					  </div>		
					  {% endcache %}
					  <input type="submit" value="Submit">
                  </form>                  
                  <form action="" method="POST" enctype="multipart/form-data" id="exampleexerciseform" style="display: none;"> 
				      {% csrf_token %}
				      {% load cache %}
      				  	{% cache 500 exerciseformcache %}
				      <div class="exercisetext">
					  <label for="exercisetext" class="exercisetext"> Exercise question: </label>
                      {{ exampleexerciseform.exercisetext }}
					  </div>
				      <div class="exercisetype" id="exercisetype">
					  <label for="file" class="filelabel"> Exercise type: </label>
                      {{ exampleexerciseform.exercisetype }}
					  </div>
				      <div class="indexinput">
					  <label for="exercise_index" class="indexinputlabel"> Index of content: </label>
                      {{ exampleexerciseform.exercise_index }}
					  </div>
					  <div class="editmodeexercise">
                      {{ exampleexerciseform.EditModeExercise }}
					  </div>		
					  {% endcache %}
					  <input type="submit" value="Submit">
                  </form>                  
	        </section>
      </section>
      {% block top-nav-bar %}
      <nav class="breadcrumb">
        <div class="top-nav-container">
        </div>
      </nav>
      {% endblock %}
    </div>
  </body>
</html>