<!DOCTYPE html>

<html>
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic%26subset=latin,latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="{% static 'contentpage/style.css' %}">
	<script src="{% static 'contentpage/adminbutton.js' %}"></script>   
    <title> A prototype lecture page with content management tools </title>
  </head>
  <body>
    <div id="container">
	  <header class="top-header">
	    <div id="container-top">
          <div class="page-title">
            <h1>Lovelace</h1>
          </div>
		  <button class="admintogglebutton" onclick="AdminToggle()"> <!-- The cog in top right to change to admin mode -->
		  </button>
		</div>
      </header>
	  <section class="content">
	        {% for ContentObject in List %} <!-- This for loop loops through the list from views.py file, and shows the content on the page in order of index -->
				<div class="slotforcontent" id="adminOnly" style="display: none;"> <!-- slotforcontent is the darker blank area with + sign on the left -->
                        <button class="addbutton" onclick="EditToggle({{ forloop.counter0 }})"> 
		                </button>	
				</div>			
                <div class="pieceofcontent"> <!-- pieceofcontent contains the content, and the deletion button for the content which is only rendered if admin mode is on-->
				    <div class="pieceofcontent-admin" id="adminOnly" style="display: none;">
					    <button class="deletebutton" onclick="DeleteContent({{ forloop.counter0 }})"> 
		                </button>	
					    <form action="" method="post" id="DeletionForm">
							{% csrf_token %}
				            <div class="deleteinputform" style="display:none;">
                            {{ deleteform.IndexToBeDeleted }}
					        </div>		
                            <input type="submit" value="Submit" style="display:none;">	
                        </form>						
					</div>
					<div class="pieceofcontent-everyone"> <!-- This part renders the piece of content from the list that is currently contained in ContentObject of the for loop. The way the content is rendered is handled with if statements, for example if its image content then in the  current implementation the ContentText field of ContentObject will be "NoText" which means the if statement will be false, thus for image content no text is rendered-->
					{%if ContentObject.textcontentmodel.ContentHeader %}
					<h1>
					{{ContentObject.textcontentmodel.ContentHeader}}
					</h1>
					{% endif %}
					{%if ContentObject.textcontentmodel.ContentText %}
					<div>
					{% autoescape off %}{{ContentObject.textcontentmodel.ContentText}}{% endautoescape %} 
					</div>
					{% endif %}
					{%if ContentObject.imagecontentmodel.ContentImageTitle %}
					<h1>
					{{ContentObject.imagecontentmodel.ContentImageTitle}}
					</h1>
					{% endif %}
					{%if ContentObject.imagecontentmodel.ContentImageFile %}
					<figure>
					<img src="{{ContentObject.imagecontentmodel.ContentImageFile.url}}" alt="ImageMissing">
					<figcaption>{{ContentObject.imagecontentmodel.ContentImageCaption}}</figcaption>
					</figure>
					{% endif %}					
					</div>
			    </div>
            {% endfor %}
		    <div class="slotforcontent" id="adminOnly" style="display: none;"> <!-- The final slot for content after the for loop -->
                <button class="addbutton" onclick="EditToggle({{ indexnumber }})"> 
		        </button>	
		    </div>			
	        <section class="formforcontent" id="formforcontent" style="display: none;" title="0" > <!-- the pop-up that opens when you press the plus sign-->
	              <h1> Add content to your selected position.</h1>
				  <div>
                  <button class="texteditbutton" onclick="FormForContentToggle(textform)" > <!-- The selection buttons T/I, for image or text, new selection button for embedded content should be added -->
		          </button>	
				  <button class="imageeditbutton" onclick="FormForContentToggle(imageform)" >
		          </button>	
			      </div>
				  <form action="" method="post" id="textform" style="display: none;"> <!-- textform, visible only if image mode is not selected -->
				      {% csrf_token %}
				      <div class="headerinput">
					  <label for="header_input" class="headerinputlabel"> Header: (optional) </label>
                      {{ textform.header_input }}
					  </div>
				      <div class="textinput">
					  <label for="text_input" class="textinputlabel"> Paragraph: </label>
                      {{ textform.text_input }}
					  </div>
				      <div class="indexinput">
					  <label for="index_input" class="indexinputlabel"> Index of content: </label>
                      {{ textform.index_input }}
					  </div>
                      <input type="submit" value="Submit">
					  <p id = "currentindex"> {{ forloop.counter0 }} </p>
                   </form>
				  <form action="" method="POST" enctype="multipart/form-data" id="imageform" style="display: none;"> <!-- imageform, visible only if text is not selected -->
				      {% csrf_token %}
				      <div class="imagetitleinput">
					  <label for="imagetitle" class="imagetitlelabel"> Image title: (optional) </label>
                      {{ imagefileform.imagetitle }}
					  </div>
				      <div class="imagecaptioninput">
					  <label for="imagecaption" class="imagecaptionlabel"> Image caption: (optional) </label>
                      {{ imagefileform.imagecaption }}
					  </div>
				      <div class="imagefileinput">
					  <label for="imagefile" class="imagefilelabel"> Image file: </label>
                      {{ imagefileform.imagefile }}
					  </div>
				      <div class="indexinput">
					  <label for="image_index" class="indexinputlabel"> Index of content: </label>
                      {{ imagefileform.image_index }}
					  </div>
					  <input type="submit" value="Submit">
                  </form>
	        </section>
      </section>
      {% block top-nav-bar %}
      <nav class="breadcrumb">
        <div class="top-nav-container">
        </div>
      </nav>
      {% endblock %}
    </div>
  </body>
</html>